*{box-sizing: border-box}

body{
    margin: 0;
    font-family: Arial;
}
.header{
    background-color: darkblue;
    text-align: center;
    padding: 50px;
    color: #fff;
}

.nav-top{
    display: flex;
    border-bottom: 5px solid #000;
}
.nav-top a{
    padding: 16px;
    color: darkblue;
    text-decoration: none;
    transition: 0.2s all;
}
.nav-top a:hover{
    background-color: darkblue;
    color: #fff;
}

.main{
    display: flex;
}

.side{
    flex: 30%;
    padding: 16px;
    background-color: #f1f1f1;
}

.fakeimg{
    padding: 20px;
    background-color: #aaa;
    height: 200px;
}

.main-content{
    flex: 70%;
    padding: 16px;
}

.footer{
    background-color: #ccc;
    text-align: center;
    padding: 25px;  
}

@media screen and (max-width: 800px){
    .main{
        flex-direction: row-reverse;
    }
    
}
