<!DOCTYPE>
<html lang="en">
    <head>
    	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge, chrome=1.0">
	<title>Web Site Layout</title>
	<style>
	
	</style>
    </head>
    <body>
    	
	<div>
	    <h1>Header</h1>
	    <p>Resize the browser window to see the responsive effect.</p>
	</div>
	
	<nav class="nav">
	    <ul>
	    	<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
		<li><a href="#">Link</a></li>
	    </ul>
	</nav>
    
    </body>

</html>
